<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="quartz"/>
  </configSections>
  
  <!--Configuration for quartz-->
  <quartz>
    <add key="quartz.jobStore.misfireThreshold" value="10000" />
    <add key="quartz.threadPool.threadCount" value="10" />
  </quartz>

</configuration>
